<div>
    <h2>{{title}}</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <text-input [label]="nameLabel" [formControlName]="name_control" [errorMessage]="getNameErrorMessage()">
        </text-input>

        <text-input [label]="descriptionLabel" [formControlName]="description_control"
            [errorMessage]="getDescriptionErrorMessage()">
        </text-input>

        <primary-button [size]="ButtonSizes.LARGE" [type]="ButtonTypes.MAIN" [disabled]="form.invalid">
            {{ createButtonText }}
        </primary-button>
    </form>
</div>