// Colors Corporate
$purple: #9D3FE7;
$gradient: linear-gradient(159.13deg, #9D3FE7 -24.13%, #602093 132.21%);

// Colors Grayscale
$black: #1A1A1F;
$hint_text: #483A5A;
$border: #AB7A7F;
$disabled: #D4D2D5;
$spacer: #D9D1E0;
$spacer_light: #E5E0E6;
$bg_light_gray: #F5F7F3;
$white: #FFFFFF;

// Colors Informing
$error: #D51A52;
$attention: #FF9500;
$approval: #00B998;
$link: #0F0BAB;