@import "colors.scss";
@import 'breakpoints.scss';

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    border-top: 1px solid darken($bg_light_gray, 10%);
    border-bottom: 1px solid darken($bg_light_gray, 10%);
    font-weight: 500;
    background-color: white;
}

th,
td {
    padding: 8px;
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: $bg_light_gray;
}

.tableWrap {
    height: 320px;
    overflow: auto;
}