<div class="dropDownWrap">
    <label *ngIf="label" for="inputText">{{ label }}</label>
    <div class="selectWrap">
        <select [value]="selectLabel" id="dropDown" [value]="value" (focus)="onTouched()"
            (change)="onSelectChange($event)">

            <option value="" disabled selected>{{selectLabel}}</option>
            <option *ngFor="let option of options" [value]="option.value">
                {{ option.label }}
            </option>
        </select>
        <button *ngIf="showDeleteButton" class="delete" type="button" (click)="onDelete()">-</button>
    </div>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
</div>