@import "colors.scss";

.toast-class {
    background-color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-flex;

    box-shadow: 6px 6px 12px #00000040;

    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-left: 6px solid $approval;
    padding: 10px 30px;
    border-radius: 4px;

}

.close-btn {
    color: $error;
    cursor: pointer;
}