@import 'constants.scss';
@import 'breakpoints.scss';

.inputWrap {
    height: 80px;
}

div {
    display: flex;
    flex-direction: column;
}

input {
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 0px;
}

@media (min-width:#{map-get($grid-breakpoints, tablet)}) {
    input {
        width: 380px;
    }
}