@import'colors.scss';

.pagination-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.pages {
    display: flex;
    gap: 5px;
}

button {
    font-size: 16px;

    &:disabled {
        cursor: not-allowed;
    }
}

span {
    border: 1px solid transparent;

    &.active {
        font-weight: bold;
        background-color: $purple;
        color: $white;
        border-radius: 5px;
    }
}

.square-style {
    padding: 5px 0px;
    width: 30px;
    background-color: lighten($purple, 10%);
    color: $white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}