<div [ngClass]="[type]" [@toastTrigger]="showsToast ? 'open' : 'close'" *ngIf="showsToast" class="toast-class">
    <div class="icon center">
        <span *ngIf="type === 'success'" class="material-symbols-outlined">
            check_circle
        </span>
        <span *ngIf="type === 'error'" class="material-symbols-outlined">
            cancel
        </span>
    </div>
    <div style="max-width: 160px;">
        <div class="title">{{message}}</div>
    </div>
    <span class="close" (click)="showsToast = !showsToast">
        x
    </span>
</div>